<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Blindrs</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css">
</head>


<body class="mx-2 has-background-light">
    <div id="appNav">
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half" id="createMessage">

                </div>
            </div>
        </div>
    </section>

    </section>

    <section class="section">
        <div class="columns is-centered">
            <div class="column is-half" id="messages">

            </div>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/socketBundle.js"></script>
    <script src="/assets/navBundle.js"></script>
</body>

</html>