<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Blindrs</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body class="mx-2 has-background-light">
    <nav><a href="/app">
            <nav><a href="/app"><img id="logo" src="/assets/img/blind.png" alt="logo" /></a>
        </a>
        <div class="navlink"><a href="/logout">Log out</a></div>
    </nav>
    <h1>Let's get you set up!</h1>

    <section id="info">

    </section>
    <!-- Here, at the bottom of the body, we import our socket.io library
  for the client to use. We do this at the bottom to ensure that the page
  has otherwise been setup for us. 
  
  When we created our socket.io server in /server/io.js, it added routes
  for /socket.io/socket.io.js (as well as a minified version) so that our
  server hosts the client code as well. -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- We then load our own client code, which express hosts for us. Remember
  that the /assets url tree is the /hosted folder. -->

    <script src="/assets/ftueBundle.js"></script>
</body>

</html>