<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Blindrs</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css"
        integrity="sha256-rFnzhAMFs9eETsAfAAvhzFLWW8SCqUpBjCboDB6ITtg=" crossorigin="anonymous">
</head>

<body class="mx-2">
    <nav class="navbar " id="appNav">
    </nav>


    <div class="columns ml-4">
        <section id="editProfile" class="columns column is-half">
        </section>
        <div class='is-divider-vertical'></div>
        <section id="editPassword" class="column">
        </section>
    </div>
    <div class="columns mr-4">
        <section id="profileInfo" class="section column is-half">
        </section>
    </div>


    <script src="/assets/profileBundle.js"></script>
    <script src="/assets/navBundle.js"></script>
</body>

<div class='box'>
    <h1 class="title">CREDITS</h1>
    <a href="https://www.flaticon.com/free-icons/blind" title="blind icons">
        Blind icons created by Those Icons - Flaticon
    </a>
</div>



</html>