#logo {
    height: 40px;
    width: 40;
    margin-top:20px;
}

.mainForm {
    height: 375px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
}

.navbar-brand:hover,
.navbar-item:hover {
    color: lightblue,
}

.signupForm {
    height: 475px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
}

.mainForm label, .signupForm label {
    display: inline-block;
    width: 250px;
    font-size: 1.2em;
}
